html {
    padding: 0;
    margin: 0;
    background: hsl(0, 0%, 20%);
}

body {
    width: 80%;
    margin: auto;
    padding: 1em 3em;
    font-family: Arial;
    font-size: 20px;
    background: hsl(0, 0%, 92%);
}

h1, h2 ,h3 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 1em 0 0 0;
}

canvas {
   width: 100%;
   height: 250px; 
}